*{
	margin: 0px;
	padding: 0px;
}

.wrapper{
	width: 1200px;
	height: 800px;
	margin: 0px auto;
	background-color: steelblue;
}

.cabecera{
	width: 1200px;
	height: 30px;
}

.menu{
	float: right;
	width: 500px;
	height: 30px;
	list-style-type: none;
}

.boton{
	color: ivory;
	float: left;
	width: 100px;
	height: 30px;
}

.lightbox{
	width: 1200px;
	height: 640px;
}

.fotop{
	width: 690px;
	height: 610px;
	margin-left: 245px;
	margin-right: 245px;
	margin-bottom: 10px;
	border: 10px solid white;
}

.pie{
	width: 1200px;
	height: 130px;
	margin: 0px auto;
	vertical-align: middle;
	display: table;
}

.fila1{
	width: 1200px;
	height: 130px;
	display: table-row;
}

.thumb{
	float: left;
	display: table-cell;
	width: 150px;
	height: 80px;
	border: 10px solid white;
}

#uno{
	background-image: url("img/foto1.jpg");
	margin-left: 245px;
	margin-right: 10px;
}

#dos{
	background-image: url("img/foto2.jpg");
	margin-right: 10px;
}

#tres{
	background-image: url("img/foto3.jpg");
	margin-right: 10px;
}

#cuatro{
	background-image: url("img/foto4.jpg");
	margin-right: 245px;
}
